.home__header {
  background: #f3f3f3;
  padding: 20px;
  text-align: center;
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 12px auto;
}

.home__container > div {
  /* flex: 1; */
  width: 25%;
  margin: 10px 15px;
  padding: 25px;
  border-radius: 12px;
  line-height: 1.5;
  cursor: pointer;
  color: #2d2727;
  overflow: hidden;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

/* 
  media query for mobile devices
*/

@media (max-width: 768px) {
  .home__container > div {
    width: 100%;
  }
}

.home__container .home__conatiner__body h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0px;
}

/* 
    media query for tablet devices

*/

@media (max-width: 1024px) {
  .home__container > div {
    width: 40%;
  }
}

/* 
    media query for mobile devices
*/

@media (max-width: 768px) {
  .home__container > div {
    width: 100%;
  }
}

.home__container .home__conatiner__header__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 248px;
  margin: 0 auto 10px;
  border-radius: 12px;
  overflow: hidden;
}

/* 
  media query for mobile devices
*/

@media (max-width: 768px) {
  .home__container .home__conatiner__header__img {
    height: 300px;
  }
}

.home__conatiner__header__img img {
  width: 90%;
}

/* 
  media query for mobile devices
*/

@media (max-width: 768px) {
  .home__conatiner__header__img img {
    width: 100%;
  }
}

.home__container .home__conatiner__header__img {
  background-color: #e5d1fa;
}

/* 
add animation to .home__container div when hover on it
*/

.home__container > div:hover {
  animation: animate 0.5s ease-in-out;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.home__conatiner__header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px 0px;
}

.home__conatiner__body p {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0px;
}
.home__conatiner__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.home__conatiner__footer > a {
  text-decoration: none;
  color: #2d2727;
  font-size: 1.2rem;
  font-weight: bold;
  flex-wrap: wrap;
  width: 45%;
  text-align: center;
  padding: 5px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  background-color: #fefae0;
}

.home__conatiner__footer > a:hover {
  color: #e96479;
}
